<div id="page-top">
  <div class="alert alert-danger" role="alert" *ngIf=errErrorMessage><span><strong>{{errMessage}}</strong></span></div>
  <div id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper" style="padding-top:10px;">

      <div id="content">


        <div class="container-fluid">
          <h3 class="text-dark mb-4">Edit Data</h3>
          <h1 style="color:#B2B2B2; " *ngIf=showMessage> Loading Data . . .</h1>
          <div *ngIf=showData>

            <div class="card shadow mb-3" *ngIf=editColegio>
              <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Colegio</p>
              </div>
              <div class="card-body">
                <div class="form-row" style="margin-bottom:0px;">
                  <div class="col-md-2 mb-3">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" placeholder="{{data['ID']}}"
                      required [(ngModel)]="colegioModel.id" #opCarrier="ngModel" name="id">
                    <small class="text-danger" *ngIf=errAddress1>Please Enter A Valid ID</small>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="startDate">Fecha inicio</label>
                    <input type="text" class="form-control" placeholder="{{data['START_DATE']}}" required
                      [(ngModel)]="colegioModel.startDate" #opCarrier="ngModel" name="startDate">
                    <small class="text-danger" *ngIf=errAddress1>Please Enter A Valid Date</small>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="endDate">Fecha fin</label>
                    <input type="text" class="form-control" placeholder="{{data['END_DATE']}}" required
                      [(ngModel)]="colegioModel.endDate" #opCarrier="ngModel" name="endDate">
                    <small class="text-danger" *ngIf=errAddress2>Please Enter A Valid Date</small>
                  </div>
                  <div class="col-md-2 mb-3" style="margin-top:35px; margin-left:15px;">
                    <button class="btn btn-primary btn-sm" type="submit" (click)="submitData(0)">SUBMIT DATA</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="card shadow mb-3" *ngIf=editMesa>
              <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">General Information</p>
              </div>
              <div class="card-body">
                <div class="form-row">
                  <div class="col-md-2 mb-3">
                    <label for="username"><strong>Lot Area</strong></label>
                    <input class="form-control" type="text" placeholder="LotArea: {{data['LOTAREA']}}" required
                      [(ngModel)]="model.lotArea" #opCarrier="ngModel" name="lotArea">
                    <small class="text-danger" *ngIf=errLotArea>Please Enter A Valid Number</small></div>
                  <div class="col-md-2 mb-3">
                    <label for="first_name"><strong>Bldg Style</strong></label>
                    <select class="form-control" required [(ngModel)]="model.bldgType" #opCarrier="ngModel"
                      name="bldgType">

                      <option> Select BldgType</option>
                      <option>1Fam</option>
                      <option>2fmCon</option>
                      <option>Duplx</option>
                      <option>TwnhsE</option>
                      <option>TwnhsI</option>

                    </select> </div>
                  <div class="col-md-2 mb-3">
                    <label for="first_name"><strong>House Style</strong></label><select class="form-control" required
                      [(ngModel)]="model.houseStyle" #opCarrier="ngModel" name="houseStyle">
                      <option>Select HouseStyle</option>
                      <option>1Story</option>
                      <option>1.5Fin</option>
                      <option>1.5Unf</option>
                      <option>2Story</option>
                      <option>2.5Fin</option>
                      <option>2.5Unf</option>
                      <option>SFoyer</option>
                      <option>SLvl</option>
                    </select> </div>
                  <div class="col-md-2 mb-3">
                    <label for="first_name"><strong>Overall Cond</strong></label><input class="form-control" type="text"
                      placeholder="OverallCond: {{data['OVERALLCOND']}}" required [(ngModel)]="model.overallCond"
                      #opCarrier="ngModel" name="overallCond"><small class="text-danger" *ngIf=errOverallCond>Please
                      Enter A Valid Number</small>

                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="first_name"><strong>Year Built</strong></label><input class="form-control" type="text"
                      placeholder="YearBuilt: {{data['YEARBUILT']}}" required [(ngModel)]="model.yearBuilt"
                      #opCarrier="ngModel" name="yearBuilt"><small class="text-danger" *ngIf=errYearBuilt>Please Enter A
                      Valid Number</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>