<div id="page-top">
	<div class="alert alert-success" role="alert" *ngIf=showUpdateDataMessage><span><strong>Data Updated!</strong></span>
	</div>
	<div class="alert alert-warning" role="alert" *ngIf=showDataDeletedMessage><span><strong>Data Deleted!</strong></span>
	</div>

	<div id="wrapper">
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content" style="padding-top:10px; padding-bottom:10px;">
				<div class="container-fluid">
					<div class="card shadow">
						<div class="card-header py-3">
							<p class="text-primary m-0 font-weight-bold">Datos Electorales</p>
						</div>
						<h1 style="color:#B2B2B2; padding-top:10px; padding-bottom:10px; padding-left:10px; " *ngIf=showMessage>
							Loading Data . . .</h1>
						<div class="card-body" *ngIf=showData>
							<div class="row">
								<div class="col-md-3 text-nowrap">
									<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label> Show&nbsp;
											<select class="form-control form-control-sm custom-select custom-select-sm"
												[(ngModel)]="numOfData" (change)=aquireData()>
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select>&nbsp;</label>
									</div>
								</div>
								<div class="col-md-3 text-nowrap">
									<mat-checkbox class="example-margin" [(ngModel)]="historicalData">Historical Data</mat-checkbox>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 text-nowrap" *ngIf=historicalData>
									<mat-form-field>
										<mat-label>Start date</mat-label>
										<input matInput [matDatepicker]="pickerStart">
										<mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
										<mat-datepicker #pickerStart></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="col-md-3 text-nowrap" *ngIf=historicalData>
									<mat-form-field>
										<mat-label>End date</mat-label>
										<input matInput [matDatepicker]="pickerEnd">
										<mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
										<mat-datepicker #pickerEnd></mat-datepicker>
									</mat-form-field>
								</div>
							</div>

							<mat-tab-group [(selectedIndex)]="currentView" (selectedTabChange)="aquireData()">
								<mat-tab label="Colegio">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>ID</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>

												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['ID']}}</td>
													<td>{{item['START_DATE']}}</td>
													<td>{{item['END_DATE']}}</td>
													<td><a [routerLink]="['/editData', 'colegio', item['ID']]"> <button
																class="btn btn-info btn-sm" type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>ID</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Mesa">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>ID</th>
													<th>COLEGIO</th>
													<th>LETRA</th>
													<th>VOTOS VACIOS</th>
													<th>VOTOS NULOS</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['ID']}}</td>
													<td>{{item['COLEGIO_ID']}}</td>
													<td>{{item['LETRA']}}</td>
													<td>{{item['VOTOS_VACIOS']}}</td>
													<td>{{item['VOTOS_NULOS']}}</td>
													<td><a [routerLink]="['/editData', 'mesa', item['ID']]"> <button class="btn btn-info btn-sm"
																type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>ID</th>
													<th>COLEGIO</th>
													<th>LETRA</th>
													<th>VOTOS VACIOS</th>
													<th>VOTOS NULOS</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Partido">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>SIGLAS</th>
													<th>NOMBRE</th>
													<th>PRESIDENTE</th>
													<th>EDIT</th>
													<th>DELETE</th>

												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['SIGLAS']}}</td>
													<td>{{item['NOMBRE']}}</td>
													<td>{{item['NOMBRE_PRESIDENTE']}}</td>
													<td><a [routerLink]="['/editData', 'partido', item['ID']]"> <button
																class="btn btn-info btn-sm" type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>SIGLAS</th>
													<th>NOMBRE</th>
													<th>PRESIDENTE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Votante">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>INE</th>
													<th>NOMBRE</th>
													<th>FECHA DE NACIMIENTO</th>
													<th>DIRECCION</th>
													<th>MESA</th>
													<th>PARTIDO</th>
													<th>APODERADO</th>
													<th>MEXICANO</th>
													<th>MUNICIPAL/FEDERAL</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['INE_PASAPORTE']}}</td>
													<td>{{item['NOMBRE']}}</td>
													<td>{{item['NACIMIENTO']}}</td>
													<td>{{item['DIRECCION']}}</td>
													<td>{{item['MESA_ID']}}</td>
													<td>{{item['PARTIDO_SIGLAS']}}</td>
													<td>{{item['APODERADO']}}</td>
													<td>{{item['MEXICANO']}}</td>
													<td>{{item['MUNICIPAL_FEDERAL']}}</td>
													<td><a [routerLink]="['/editData', 'votante', item['ID']]"> <button
																class="btn btn-info btn-sm" type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>INE</th>
													<th>NOMBRE</th>
													<th>FECHA DE NACIMIENTO</th>
													<th>DIRECCION</th>
													<th>MESA</th>
													<th>PARTIDO</th>
													<th>APODERADO</th>
													<th>MEXICANO</th>
													<th>MUNICIPAL/FEDERAL</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Suplente">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>INE</th>
													<th>VOTANTE INE</th>
													<th>VOTANTE MESA</th>
													<th>VOTANTE PARTIDO</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['SUPLENTE_INE']}}</td>
													<td>{{item['VOTANTE_MESA_ID']}}</td>
													<td>{{item['VOTANTE_PARTIDO_SIGLAS']}}</td>
													<td>{{item['START_DATE']}}</td>
													<td>{{item['END_DATE']}}</td>
													<td><a [routerLink]="['/editData', 'suplente', item['ID']]"> <button
																class="btn btn-info btn-sm" type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>INE</th>
													<th>VOTANTE INE</th>
													<th>VOTANTE MESA</th>
													<th>VOTANTE PARTIDO</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Miembro">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>VOTANTE INE</th>
													<th>VOTANTE MESA</th>
													<th>VOTANTE PARTIDO</th>
													<th>PRESIDENTE VOCAL</th>
													<th>SUPLENTE INE</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['VOTANTE_INE']}}</td>
													<td>{{item['VOTANTE_MESA_ID']}}</td>
													<td>{{item['VOTANTE_PARTIDO_SIGLAS']}}</td>
													<td>{{item['PRESIDENTE_VOCAL']}}</td>
													<td>{{item['SUPLENTE_INE']}}</td>
													<td>{{item['START_DATE']}}</td>
													<td>{{item['END_DATE']}}</td>
													<td><a [routerLink]="['/editData', 'miembro', item['ID']]"> <button
																class="btn btn-info btn-sm" type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>VOTANTE INE</th>
													<th>VOTANTE MESA</th>
													<th>VOTANTE PARTIDO</th>
													<th>PRESIDENTE VOCAL</th>
													<th>SUPLENTE INE</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
								<mat-tab label="Lista Nominal">
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table dataTable my-0" id="dataTable">
											<thead>
												<tr>
													<th>INE</th>
													<th>NOMBRE</th>
													<th>PARTIDO</th>
													<th>ORDEN</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of data">
													<td>{{item['INE']}}</td>
													<td>{{item['NOMBRE']}}</td>
													<td>{{item['PARTIDO_SIGLAS']}}</td>
													<td>{{item['ORDEN']}}</td>
													<td>{{item['START_DATE']}}</td>
													<td>{{item['END_DATE']}}</td>
													<td><a [routerLink]="['/editData', 'lista', item['ID']]"> <button class="btn btn-info btn-sm"
																type="button">Edit</button> </a></td>
													<td><button class="btn btn-danger btn-sm" type="button"
															(click)=deleteData(item)>Delete</button></td>

												</tr>

											</tbody>
											<tfoot>
												<tr>
													<th>INE</th>
													<th>NOMBRE</th>
													<th>PARTIDO</th>
													<th>ORDEN</th>
													<th>START DATE</th>
													<th>END DATE</th>
													<th>EDIT</th>
													<th>DELETE</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</mat-tab>
							</mat-tab-group>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>